@font-face{
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-family: 'lato';
}
@font-face{
    src: url('../fonts/Lato/Lato-Bold.ttf');
    font-family: 'lato-bold';
}
@font-face{
    src: url('../fonts/Lato/Lato-Thin.ttf');
    font-family: 'lato-thin';
}

@font-face{
    src: url('../fonts/fa/fa-solid-900.ttf');
    font-family: 'fa-solid';
}
